<launch>
  <arg name="output" default="screen"/>
  <arg name="camera" default="camera"/>
  <arg name="bagfile"/>

  <!-- Rosbag -->
  <node pkg="rosbag" type="play" name="player" output="log"
    args="$(arg bagfile)">
  </node>

  <!-- Detector Node -->
  <include file="$(find apriltag_ros)/launch/apriltag_detector_node.launch">
    <arg name="camera" value="$(arg camera)"/>
  </include>
</launch>
