#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "apriltag_ros"

gen = ParameterGenerator()

gen.add("decimate", int_t, 0,
        "Decimate input image by this factor (speed+, accuracy-), umich only",
        1, 1, 2)

gen.add("nthreads", int_t, 0,
        "number of threads used, umich only",
        1, 1, 4)

family_enum = gen.enum([gen.const("t36h11", int_t, 0, "t36h11"),
                        gen.const("t25h9", int_t, 1, "t25h9"),
                        gen.const("t16h5", int_t, 2, "t16h5")],
                       "An enum to set tag family")
gen.add("family", int_t, 0,
        "tag family", 0, 0, 2,
        edit_method=family_enum)

type_enum = gen.enum([gen.const("mit", int_t, 0, "mit"),
                      gen.const("umich", int_t, 1, "umich")],
                     "An enum to set detector type")
gen.add("type", int_t, 0,
        "detector type", 0, 0, 1,
        edit_method=type_enum)

gen.add("black_border", int_t, 0,
        "black border around the tag in bits",
        1, 1, 2)

exit(gen.generate(PACKAGE, "apriltag_ros", "ApriltagDetectorDyn"))
